@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


 /* contenedor universal para todos los charts */
  .echart,
  [id^="chart-"] {
    width: 100%;
    /* altura automática por proporción, cámbiala si quieres */
    aspect-ratio: 16 / 9;
    /* por si el navegador no soporta aspect-ratio, un fallback */
    height: auto;
    min-height: 260px; /* opcional, asegura que no quede muy chiquito */
  }

  /* Asegúrate de que los padres no fijen width/height rígidos */
  .chart-wrapper,
  .card,
  .col,
  .container {
    max-width: 100%;
  }
.aspect-4-3 { aspect-ratio: 4 / 3; }

  